+set sv_enforceGameBuild 2802

### Default ###
	start mapmanager
	start chat
	start spawnmanager
	start sessionmanager
	start fivem
	start hardcap
	start rconlog

### Datenbank ###

    #start oxmysql
	start async
	start esplugin_mysql
	start essentialmode
	start mysql-async
#	start vSync

### Essential ###
	start es_extended
	start fxmigrant
	start pvp   

### Admin ###
    start ds_admin2
	start ds_adminduty
	start ds_adminreport
	start es_admin2
## [txAdmin CFG validator]: you MUST NOT start/stop/ensure txadmin resources.
# 	start txAdmin

### ESX ###

    start screenshot-basic
    start es_camera
    start es_extended
    start esx_accessories
    start esx_addonaccount
    start esx_addoninventory
    start esx_ambulancejob
    start esx_animations
    #start esx_bankerjob
    start esx_barbershop
    start esx_basicneeds
    start esx_billing
    start esx_boat
    start esx_boilerplate
    start esx_clotheshop
    start esx_cruisecontrol
    start esx_datastore
    start esx_dmvschool
    start esx_drugs
    start esx_holdup
    start esx_identity
    #start esx_joblisting
    start esx_jobs
    start esx_license
    start esx_lscustom
    start esx_mechanicjob
    start esx_menu_default
    start esx_menu_dialog
    start esx_menu_list
    start esx_migrate
    start esx_optionalneeds
    start esx_policejob
    start esx_property
    #start esx_realestateagentjob
    start esx_rpchat
    start esx_service
    start esx_shops
    start esx_sit
    start VexCreator
    start esx_skin
    start esx_society
    start esx_status
    start esx_taxijob
    start esx_vehicleshop
    start esx_voice
    start esx_weaponshop
    start instance
    start skinchanger
	start HeliCam
	start PoliceVehiclesWeaponDeleter
	start TpToCoords
	start esx_busjob
	start ult-kfc-legion
	start heist_location
	#start surfboard
    start esx_trunk
	start inventory
	start progressBars
	#start esx_gym
    start [testasaya]
    

## Saltychat ##

    start [Saltychat]

## Phone ##

    start d-phone

## Maps ##

    start GLMPMaps
    start [BeachClub]

## Routen ##

    start AV_ecyrB
    start esx_aramid
    start esx_drugs


## HUD ##

    start ValynHudSystem


## Gangs Mafien  ##


    start esx_vagosjob
    start esx_unicornjob


## Main Stuff ##

    start new_banking
    start esx_extraitems

## Features ##

    start b-lootdrop
    start b_mystery
    start NativeUI
    start t1ger_drugs
    start WeihnachtsCase
    start garageShells
    start Sil-2Step
    start speedometer
    start [Tesla]
    start noheadshot
    start dpemotes
    start EngineToggle
    start FiveM-Car-Lock
    start sa_saltyhud
    start dpclothing
    start esx_job_creator
    start garage
    start minimap
    start stamina
    start cd_easytime
    start esx_swiatla_ui
    start luxart-vehicle-control
    start NoNPC
    start qalle_coords
    start renzu_vehicleshop